* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

header {
    background-color: #867070;
    width: 100%;
    height: max-content;
    align-items: center;
    font-style: normal;
    font-size: 1.25vmax;
}

h1 {
    background-size: contain;
    text-align: center;
    color: azure;
    padding: 0.6vmax;
    font-family: 'Amatic SC', cursive;
    font-family: 'Bruno Ace SC', cursive;
}

.background {
    background: url(https://images.pexels.com/photos/672630/pexels-photo-672630.jpeg?auto=compress&cs=tinysrgb&w=600) repeat;
    background-size: contain;
    width: 100%;
    height: 15vmax;
    margin-top: 0%;
}

.transbox {
    margin: 1.8vmax;
    background-color: #ffffff;
    border: 0.2vmax solid black;
    opacity: 0.6;
    width: 18vmax;
    height: fit-content;
}

.transbox p {
    margin: 2%;
    font-weight: bolder;
    color: black;
    font-size: 1.5vmax;
    font-style: italic;
}

.intro {
    padding: 30px;
    margin-left: 7.8vmax;
    margin-right: 7.8vmax;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    ;
    font-size: 1vmax;
    font-weight: bold;
}

.content {
    padding: 3vmax;
    margin-left: 7.8vmax;
    margin-right: 7.8vmax;
    margin-top: 0.5vmax;
    margin-bottom: 1vmax;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    ;
    font-size: 1vmax;
    font-weight: 600;
}

.content>img {
    padding: 1vmax;
    width: 30vmax;
    height: 18vmax;
}

h3 {
    margin-left: 10vmax;
    font-weight: bold;
}

.container {
    border-radius: 6vmax;
    background-color: #ecdad3;
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    row-gap: 1.8vmax;
    column-gap: 1.8vmax;
}

.items {
    margin: 3vmax;
    align-self: center;
}

.items img {

    height: 13vmax;
    width: 13vmax;
    padding: 0.6vmax;
}

.items img:hover {
    opacity: 0.3;
}

footer {
    font-size: 3vmax;
    font-weight: 700;
    font-style: italic;
    background-color: #7D6E83;
    color: antiquewhite;
    font-family: 'Amatic SC', cursive;
    padding-left: 9vmax;
    padding-top: 1.5vmax;
    padding-bottom: 1.5vmax;
}

.icon1 {
    margin: 1vmax;
    margin-left: 2vmax;
    color: rgb(232, 120, 189)
}

.icon2 {
    margin: 1vmax;
    color: navy;
}

.icon3 {
    margin: 1vmax;
    color: black
}
